#cards.all-cards{
	flex-direction: row;
	flex-wrap: wrap;
}

.all-cards .card-wrap{
    width: 50%;
	padding: 14px 14px 0;
	display: inline-flex;
}

.all-cards .card-wrap:nth-child(odd){
    padding-right: 7px;
}

.all-cards .card-wrap:nth-child(even){
    padding-left: 7px;
}

.card{
	background-color: #fff;
	padding: 18px 15px;
    position: relative;
	margin: 0;
	display: flex;
	width: 100%;
	cursor: pointer;

	justify-content: space-between;

	-webkit-box-shadow: inset 0px 1px 2px 0px rgba(255,255,255, .75), 0px 1px 1px 0px rgba(0,0,0,0.15);
	-moz-box-shadow:  inset 0px 1px 2px 0px rgba(255,255,255, .75), 0px 1px 1px 0px rgba(0,0,0,0.15);
	box-shadow: inset 0px 1px 2px 0px rgba(255,255,255, .75), 0px 1px 1px 0px rgba(0,0,0,0.15);
}

.card.card-new{
	border: 1px solid #00a7eb57;
	justify-content: center;
	align-items: center;
}

.card-new__icon{
	width: 24px;
	height: 24px;
	margin-bottom: 8px;
	background: url(../images/icons.png) no-repeat -32px 0;
}

.card-new__text{
	font-size: 13px;
	color: #00a7eb;
}

.all-cards .card .name{
	font-size: 15px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.all-cards .card{
	height: 136px;
    padding: 20px;
    margin: 0 !important;
}

.all-cards .card .footer{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.all-cards .card .pan span{
	font-size: 25px;
}

.all-cards .card .number{
	margin-left: 7px;
}

.all-cards .card,
.all-cards .card.is-active:before{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.card.is-active:before{
	position:absolute;
	content:"";
	left:0;
	right:0;
	top:-1px;
	bottom: -1px;
	border: 4px solid #eaeaea;
}

.card .header{
	height: 26px;
	position: relative;
}

.card .logo{
	display: inline-block;
	float: right;
	width: 43px;
	height: 26px;
	background: url(../images/cib_icons.svg) no-repeat 0 0;
	background-size: 178px;
}

.card.ms .logo{
	background-position: 0 0;
}

.card.ms-white .logo{
	background-position: -90px -41px;
}

.card.vs .logo,
.card.vs-white .logo{
	width: 45px;
}

.card.vs .logo{
	background-position: -42px -19px;
}

.card.vs-white .logo{
	background-position:  -134px -62px;
}

/* for removing img*/
.card .pan{
	display: flex;
	align-items: center;
}

.card .pan,
.card .header img{
	float: right;
}

.card .pan span,
.card .name{
	color: #fff;
}

.card .dot{
	background-color: #fff;
}

.card .name{
	font-size: 14px;
	margin-right: 43px;
	line-height: 26px;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.card .pan span{
	font-size: 24px;
}

.card .pan .dot{
	float: left;
	width: 7px;
	height: 7px;
	display: inline-block;/*
	background-color: #444;*/
	position: relative;
	margin-right: 4px;

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.card .number{
	margin-left: 5px;
}
/*===== SECTION CARDS end =====*/





.example-enter {
	opacity: 0.01;
  }
  
.example-enter.example-enter-active {
	opacity: 1;
	transition: opacity 500ms ease-in;
}

.example-leave {
	opacity: 1;
}

.example-leave.example-leave-active {
	opacity: 0.01;
	transition: opacity 300ms ease-in;
}

.picker {
    position: relative;
    margin: 15px auto 0 auto;
}